/* google font */
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Syne:wght@400;500;600;700&display=swap');

/* reset */
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* variables */
:root {
	/* color variables */
	--main-color: #131211;
	--main-bg-color: #AEAE9D;
    
	/* font variables */
	--main-font-family: 'Syne', sans-serif;
    --footer-font-family: 'Questrial', sans-serif;
	--main-font-color: #131211;
}

/* global styles */
body {
	font-family: var(--main-font-family);
    line-height: 1.5;
	background-color: var(--main-bg-color);
	color: var(--main-font-color);
    min-height: 100vh;
}

ul {
    list-style: none;
}

h1 {
    font-weight: bold;;
}

/* nav bar styling */
header {
    padding: 10px;
    position: fixed;
    width: 100%;
}

header nav ul {
    display: flex;
    padding: 10px;
}

header nav ul li {
    margin-right: 50px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--main-font-color);
}

header nav ul li:hover {
    background-color: black;
}

header.scroll {
    background-color: black;
    background: rgb(0 0 0 / 40%);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: all .3s linear 0s;
}

header.scroll nav ul li a {
    color: white;
}

/* main styling */

main section {
    padding-top: 90px;
    height: 100vh;
}

/* states styling */
main section.loading {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    animation: lift 0.8s ease-in-out;
    animation-delay: 1.6s;
    animation-fill-mode: forwards;
}

main section.loading h1, main section.loading h2 {
    animation: hover 1.6s ease-in-out;
    color: white;
    font-size: 30px;
}

@keyframes lift {
    0% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
      visibility: visible;
    }
    100% {
      transform: translate3d(0, -100%, 0);
      opacity: 1;
      visibility: hidden;
    }
  }
  
  @keyframes hover {
    0% {
      transform: translate3d(0, 0, 0);
      opacity: 0;
    }
    90% {
      transform: translate3d(0, -16%, 0);
      opacity: 1;
    }
    100% {
      transform: translate3d(0, -32%, 0);
      opacity: 1;
    }
  }

main section.error {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

main section.introduction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
}

main section.introduction h1 {
    font-size: 100px;
}

main section.showcase {
    margin: 20px;
}

main section.showcase ul {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

main section.showcase ul li {
    background-color: whitesmoke;
    width: 50%;
    min-height: 200px;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}

main section.showcase ul li:hover {
    /* background-color: red; */
    transform: scale(1.05);
}

main section.aboutme {
    margin: 20px;
}

button.test {
    display: flex; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    color: white; 
    background: rgb(0 0 0 / 40%);
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
}

/* footer styling */
footer {
    padding: 10px;
    width: 100%;
    text-align: center;
    font-family: var(--footer-font-family);
}

footer section {
    display: flex;
    justify-content: center;
}

footer p {
    width: 50%;
}