/* google font */
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Syne:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,800;1,800;1,900&display=swap');

/* reset */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* variables */
:root {
    /* color variables */
    --main-color: #393632;
    --main-bg-color: #d1d1c7;
    --light-container-bg-color: #e1e1db;

    /* font variables */
    --main-font-family: 'Questrial', sans-serif;
    --test-font-family: 'Montserrat', sans-serif;
    --footer-font-family: 'Questrial', sans-serif;

    --main-font-color: #393632;
    --light-header-font-color: #d1d1c7;
    --light-paragraph-font-color: #a29e9a;
    --dark-paragraph-font-color: #6b645c;
    --copyright-font-color: #080807;
    --alt-font-color: #bfbfb1;
}

/* global styles */
html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    font-family: var(--main-font-family);
    line-height: 1.5;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    min-height: 100vh;
}

ul {
    list-style: none;
}

h1,
h2 {
    font-weight: bold;
    font-family: var(--test-font-family);
}

/* nav bar styling */
header {
    padding: 10px;
    position: fixed;
    width: 100%;
}

header img.menu {
    height: 50px;
    display: none;
}

header nav ul {
    display: flex;
    padding: 10px;
}

header nav ul li {
    margin-right: 50px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--main-font-color);
    position: relative;
}

header nav ul li a:after {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: var(--main-color);
    height: 2px;
    transition: all .5s;
}

header nav ul li a:hover:after {
    width: 100%;
}

header.scroll {
    background-color: var(--main-color);
    background: rgb(0 0 0 / 40%);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: all .3s linear 0s;
}

header.scroll nav ul li a {
    color: var(--light-header-font-color);
}

header.scroll nav ul li a:hover {
    color: white;
}

/* main styling */

main section {
    padding-top: 90px;
    scroll-snap-align: start;
}

/* states styling */
main section.loading {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    animation: lift 0.8s ease-in-out;
    animation-delay: 1.6s;
    animation-fill-mode: forwards;
}

main section.loading h1,
main section.loading h2 {
    animation: hover 1.6s ease-in-out;
    color: white;
    font-size: 30px;
    font-family: var(--test-font-family);
}

main section.loading h2 {
    color: var(--light-paragraph-font-color);
}

@keyframes lift {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        visibility: visible;
    }

    100% {
        transform: translate3d(0, -100%, 0);
        opacity: 1;
        visibility: hidden;
    }
}

@keyframes hover {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 0;
    }

    90% {
        transform: translate3d(0, -16%, 0);
        opacity: 1;
    }

    100% {
        transform: translate3d(0, -32%, 0);
        opacity: 1;
    }
}

main section.error {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-bg-color);
    align-items: center;
    z-index: 9999;
}

main section.error a {
    text-decoration: none;
    color: var(--main-bg-color);
}

main section.error button {
    padding: 10px 40px 10px 40px;
    border: none;
    outline: none;
    background-color: var(--main-color);
    color: var(--main-bg-color);
    cursor: pointer;
    border-radius: 30px;
    margin-top: 10px;
}

main section.introduction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
}

main section.introduction h1 {
    font-size: 100px;
    font-family: var(--test-font-family);
    font-weight: 800;
    line-height: .8;
}

main section.introduction h2 {
    font-size: 50px;
    font-family: var(--test-font-family);
}

main section.introduction p {
    color: var(--dark-paragraph-font-color);
    font-size: 20px;
}

main section.introduction img {
    height: 30px;
    margin-top: .3em;
    animation: jump 1.6s ease-in-out infinite;
    fill: red;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

main section.showcase {
    width: 100%;
    background-color: black;
    border-radius: 1.5rem;
    overflow: hidden;
    height: 100vh;
}

main section.showcase h2 {
    color: var(--light-header-font-color);
    font-size: 100px;
    margin-left: 20px;
}

main section.showcase ul {
    display: flex;
    padding: 10px;
    overflow: auto;
}

main section.showcase ul.showcaseLoad {
    display: flex;
}

main section.showcase ul.showcaseLoad li h3 span {
    background-color: var(--dark-paragraph-font-color);
    width: 80%;
    display: inline-block;
    height: 1em;
    position: relative;
    overflow: hidden;
}

main section.showcase ul.showcaseLoad li p span {
    background-color: var(--dark-paragraph-font-color);
    width: 70%;
    display: inline-block;
    height: 1em;
    position: relative;
    overflow: hidden;
}

main section.showcase ul.showcaseLoad li p:nth-child(2) span {
    width: 60%;
}

main section.showcase ul li {
    background-color: var(--light-container-bg-color);
    min-width: 500px;
    min-height: 200px;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}

main section.showcase ul li:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

main section.showcase ul li h3 {
    font-size: 30px;
}

main section.showcase ul li p {
    text-wrap: balance;
}

main section.showcase p.showcaseDesc {
    color: var(--light-paragraph-font-color);
    margin-left: 20px;
    margin-top: 50px;
    font-size: 25px;
    text-indent: 3rem;
    width: 50%;
    overflow: hidden;
}

main section.aboutme {
    height: 93vh;
}

main section.aboutme h2 {
    color: var(--main-font-color);
    font-size: 100px;
    margin-left: 20px;
}

main section.aboutme div {
    display: flex;
}

main section.aboutme img {
    height: 400px;
    margin: 20px;
    border-radius: 1.5rem;
}

main section.aboutme article {
    background-color: var(--light-container-bg-color);
    display: inline-block;
    padding: 20px;
    margin: 20px;
    border-radius: 1.5rem;
    width: 80%;
}

main section.aboutme article p {
    color: var(--dark-paragraph-font-color);
    font-size: 20px;
}

button.test {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 60;
    border: none;
    outline: none;
    color: white;
    background: rgb(0 0 0 / 40%);
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

@keyframes toTheTop {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

/* footer styling */
footer {
    padding: 10px;
    width: 100%;
    text-align: center;
    font-family: var(--footer-font-family);
}

footer section {
    display: flex;
    justify-content: center;
}

footer p {
    width: 50%;
}

/* responsive styling */
@media (max-width: 768px) {
    header {
        z-index: 99;
    }

    header nav section {
        background-color: var(--alt-font-color);
        height: 50px;
        width: 50px;
        border-radius: 50%;
        position: absolute;
        margin: 20px;
    }

    header nav img.menu {
        display: flex;
        cursor: pointer;
        margin: 13px;
        height: 24px;
    }

    header nav ul {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--main-color);
        height: 98vh;
        border-radius: 1rem;
    }

    header nav ul li {
        margin: 0;
        margin-bottom: 10px;
    }

    header nav ul li a {
        color: var(--light-header-font-color);
        font-size: 50px;
        font-family: var(--test-font-family);

    }

    main section.introduction h1 {
        font-size: 70px;
    }

    main section.introduction h2 {
        line-height: .8;
        margin: .3em;
        font-size: 30px;
    }

    main section.introduction p {
        margin: .5em;
        width: 80%;
        line-height: .8;
    }

    main section.showcase h2 {
        font-size: 50px;
    }

    main section.showcase ul li {
        min-width: 350px;
        min-height: 200px;
    }

    main section.showcase p.showcaseDesc {
        width: 90%;
        font-size: 20px;
        text-indent: 1rem;
    }

    main section.aboutme h2 {
        font-size: 50px;
    }

    main section.aboutme div {
        flex-direction: column;
    }

    main section.aboutme article {
        min-width: 350px;
    }

    footer p {
        width: 90%;
        margin-top: 50px;
    }
}